PORT=5000
DB_HOST=localhost
DB_USER=YourUsernameHere  # Replace with your actual MySQL username
DB_PASSWORD=YourPasswordHere  # Replace with your actual MySQL password
DB_NAME=insighted


GEMINI_API_KEY=YourGeminiAPIKeyHere # Replace with your actual Gemini API key

JWT_SECRET=Rajeev_gandu_h_jo_uske_liye_pagal_h

# Email Configuration for Nodemailer (Use same)
EMAIL_USER=insightED.app.pbl@gmail.com #use same 
EMAIL_PASS=YourEmailAppPasswordHere # Replace with your actual email app password (not your regular email password, you need to generate an app password for this)