PORT=5000
DB_HOST=localhost
DB_USER=YourUsernameHere  # Replace with your actual MySQL username
DB_PASSWORD=YourPasswordHere  # Replace with your actual MySQL password
DB_NAME=insighted


GEMINI_API_KEY=AIzaSyAugqmGMMZTy4fMpWfObAg0DCecEhwAdR4

JWT_SECRET=Rajeev_gandu_h_jo_uske_liye_pagal_h

# Email Configuration for Nodemailer (Use same)
EMAIL_USER=insightED.app.pbl@gmail.com #use same 
EMAIL_PASS=lmdo ityt iulk pwld #use same 